body {
    margin: 0;
    padding: 0;
}

main {
    height: 100vh;
}

#carouselE1 {
    height: 100vh;
}

.carousel-inner {
    height: 100vh;
}

.carousel-item img {
    object-fit: cover;
    height: 100vh;
    width: 100%;
}

.tituloNos {
    margin-top: 20vh;
}


.presentacionNosotros {
    max-width: 800px;
    margin: 80px auto 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logoCoder {
    max-width: 100%;
    height: auto;
}

.menciones {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.mencion {
    max-width: 400px;
    margin: 10px;
    padding: 10px;
    background-color: #eee;
    border-radius: 8px;
}

.imagenNosotros {
    background: url(../imagenes/america-latina-turismojpg.webp) center/cover no-repeat fixed;
}

.avatar {
    max-width: 50px;
    height: auto;
    border-radius: 50%;
}

.cartasDestino {
    max-width: 100%;
    margin: 60px auto 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-deck {
    margin-top: 20px;
}

.card {
    border: none;
    margin-bottom: 20px;
}

img.card-img-top {
    max-height: 100%;
    object-fit: cover;
}

img.card-img-top {
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }